# Arquivos de compilação do Java / Maven
/sistema-cadastro-backend/target/

# Arquivos de configuração de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Arquivos de log
*.log
*.log.*

# Logs de erro da VM (Máquina Virtual)
hs_err_pid*

# Front Node
sistema-cadastro-clientes/node_modules/

# Segredos locais (Aiven / env)
sistema-cadastro-backend/env-aiven.local.cmd